{{#partial "content"}}
   <p>Content:</p>
   <p>{{ hero.name }}</p>
   <h5>Age:</h5>
   <p> {{ hero.age}}</p>
   <h5>Special Power:</h5>
   <p> {{ hero.powers}}</p>
    <h5>Weakness:</h5>
   <p> {{ hero.weakness}}</p>
   <a href="/">Go back</a>


{{/partial}}

{{> layout.hbs}}