<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Hero{{/block}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/app.css'>
</head>
<body>
<div class="container">
   <!--begin main template-->
   <div class="page-header bg-dark mb-0">
<img class="hero1" src="http://keyword-hero.com/wp-content/uploads/2017/04/Cart-Hero.png" alt = "">
       <h1>HERO SQUAD </h1>
   </div>
   <center>
<ul class="nav nav-tabs  bg-dark ">
   <li role="presentation"><a href="/">See All Heroes</a></li>
   <li role="presentation"><a href="/heroes/new">Add a New Hero</a></li>
</ul>
</center>

<center>
   <div class="col-md-12">
       {{#block "content"}}

       {{/block}}

   </div>
</center>
</div>
<!--end main template-->
{{#block "footer"}}
<footer class="footer">
<img class="hero2" src="https://static.vecteezy.com/system/resources/thumbnails/000/161/982/small/Super_Heros_Vector_Icons.jpg" alt = "">
<img class="hero3" src="https://somebodyshero.co.uk/wp-content/uploads/2021/04/LIGHTER2.png" alt = "">
   </footer>
   </body>
   </html>
{{/block}}